.wrapper {
	display: grid;
	grid-template-columns: repeat(5, auto);
	align-items: center;
	column-gap: 10px;
}

.btn {
	border: none;
	background: #fff;
}

.icons {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: space-around;
	align-items: center;
	column-gap: 20px;
}

.icon {
	cursor: pointer;
}

.icon:hover {
	fill: var(--blue);
}

@media screen and (max-width: 850px) {
	.wrapper {
		grid-column: 1 / -1;
		margin-top: 20px;
		justify-content: left;
	}
}

@media screen and (max-width: 700px) {
	.wrapper {
		row-gap: 10px;
		grid-template-columns: 1fr;
	}
}
