.wrapper {
	display: grid;
	grid-template-columns: minmax(auto, 404px);
	padding: 48px 40px;
	border: 2px solid #ececec;
	border-radius: 16px;
}

.title {
	color: var(--grey);
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
}

.descr {
	color: var(--black);
	font-weight: 700;
	font-size: 24px;
	line-height: 32px;
}

.text {
	margin-top: 40px;
	margin-bottom: 8px;
	color: var(--black);
	font-weight: 500;
	font-size: 12px;
	line-height: 16px;
}

.input {
	width: calc(100% - 36px);
	height: 40px;
	padding-left: 36px;
	border: 1px solid #d8d8d8;
	border-radius: 24px;
}

.input::placeholder {
	color: var(--grey);
	font-weight: 500;
	font-size: 12px;
}

.icon {
	position: absolute;
	top: 13px;
	left: 15px;
	width: 12px;
	height: 15px;
	cursor: unset;
	fill: var(--grey);
}

.icon:hover {
	fill: var(--grey);
}

.btn {
	width: 100%;
	margin-top: 40px;
	padding: 14px 0;
	color: var(--white);
	background: var(--blue);
	border: none;
	border-radius: 24px;
	cursor: pointer;
}

.btn:hover {
	color: var(--gold);
}

.mt24 {
	margin-top: 24px;
}

.relative {
	position: relative;
}

.error {
	margin-top: 10px;
	color: var(--red);
}
