.wrapper {
	display: grid;
	grid-column: 2 / -1;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	justify-items: right;
}

.phone {
	margin-top: 5px;
}

.wrapper input {
	width: 185px;
}

.icon,
.btn {
	margin-bottom: -28px;
}

.btn {
	margin-right: 20px;
	background: var(--white);
	border: none;
}
