* {
	margin: 0;
	padding: 0;
	font-family: 'Inter', sans-serif;
}

ul {
	list-style-type: none;
}

input {
	height: 20px;
	padding-left: 10px;
	border: 1px solid #d8d8d8;
	border-radius: 24px;
}

input:focus {
	outline: 1px solid var(--green);
}

input:invalid:focus {
	outline: 1px solid var(--red);
}

input:invalid:focus {
	outline: 1px solid var(--red);
}

svg {
	cursor: pointer;
}

svg:hover {
	fill: var(--blue);
}

#app {
	display: grid;
	align-items: center;
	justify-content: center;
	height: 100vh;
	margin: 0 8px;
}

:root {
	--black: #212429;
	--white: #fff;
	--grey: #98989e;
	--blue: #3183ff;
	--green: #69cd63;
	--gold: #fff172;
	--red: #e7414c;
}
