.wrapper {
	display: grid;
	grid-template-columns: 1fr auto auto;
	align-items: center;
	border-bottom: 1px solid var(--grey);
	padding-bottom: 10px;
}

.title {
	font-size: 25px;
	color: var(--black);
}

.icon {
	cursor: pointer;
	margin-left: 20px;
}

.icon:hover {
	fill: var(--blue);
}
